# Backend Laravel
backend/.env
backend/vendor/
backend/node_modules/
backend/storage/logs/*.log
backend/storage/app/public/*
backend/bootstrap/cache/*.php
backend/public/storage

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# OS
.DS_Store
Thumbs.db
